a{
    text-decoration: none;
    transition: .5s linear;
}

.top{
    width: 101.62%;
    height: 3em;
    margin: -1em 0 0 -1em;
    box-shadow:0px 5px 5px rgb(49, 49, 49)
}

.menu {
	list-style-type: none;
}
.logo{
    color: black;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 1.6em;
    margin: 0.3em 0.3em 0.3em 1.6em ;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}
.menu a { 
    color: black;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 1em;
    margin: 0.9em 0.3em 0.3em 1em ;
    font-family: 'Montserrat', serif;
}
.menu a:hover{
    font-size: 1.02em;
    color: greenyellow;
}
.mright{
    float: right;
    margin: 0.4em 0em 0.07em 1em;
}
.mright:hover{
    transition: .5s linear;
    transform: scale(1.2);
}


.line{
    height: 20em;
}

main h2{
    margin-left: 3em;
}

.topsell{
    padding: 0;
    margin-top:1em;
    margin-left: 2em;
    float: left;
    width: 20em;
    height: 17em;
    box-shadow:0px 0px 10px rgb(49, 49, 49);
      transition: .5s linear;
}
.topsell:hover{
      transition: .5s linear;
    margin-left: 2em;
    float: left;
    width: 22em;
    height: 19em;
}
.topsell a:not(.apper){
    display: block;
    margin-left: 1em;
    margin-top: 1em;
    width: 18em;
    height: 13em;
    background-size: 18em 13em;
    color: black;
}
.topsell a:hover {
    width: 20em;
    height: 15em;
    background-size: 20em 15em;
}
 .apper{
    display: block;
    margin-left:1em;
    margin-top: 0.5em;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 0.9em;
    color: black;
}
.bathroom {
    background: url("../images/katalog/bathroom/venera.webp") no-repeat;
}
.bathroom:hover {
    background: url("../images/katalog/bathroom/venera1.webp") no-repeat;
}
.closet {
    background: url("../images/katalog/closet/dominowood.webp") no-repeat;
}
.closet:hover {
    background: url("../images/katalog/closet/dominowhite.webp") no-repeat;
}
.tables {
    background: url("../images/katalog/tables/tablewood.webp") no-repeat;
}
.tables:hover {
    background: url("../images/katalog/tables/tablewhite.webp") no-repeat;
}
.upholstered {
    background: url("../images/katalog/upholstered/upholsteredc.webp") no-repeat;
}
.upholstered:hover {
    background: url("../images/katalog/upholstered/upholsteredo.webp") no-repeat;
}



.bot{
    width: 101.62%;
    height: 3em;
    margin: 1em 0 -1em -1em;
    box-shadow:0px -5px 5px rgb(49, 49, 49);
    background-color: black;
    display:block;
}

.bmenu {
	list-style-type: none;
}
.blogo{
    color: white;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 1.6em;
    margin: 0.3em 0.3em 0.3em 1.6em ;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}
.bmenu a { 
    color: white;
    text-decoration: none;
    float: left;
    text-align: center;
    font-size: 1em;
    margin: 0.9em 0.3em 0.3em 1em ;
    font-family: 'Montserrat', serif;
}
.bmenu a:hover{
    font-size: 1.02em;
}
.bmright{
    float: right;
    margin: 0.8em 0em 0.07em 1em;
    font-family: 'Montserrat', serif;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
}
.pp{
    margin-top: 0.5em;
}
.bmright:hover{
    color: greenyellow;
    transform: scale(1.1);
}
